# THIS YAML CAN CHANGE IN THE FUTURE
timeout: 30
# If frequency is not set the "daemon" will collect the data only one time and stop
# 6 hours
frequency: 8640
accounts:
- username: USERNAME@EMAIL
  password: PASSWORD
  contracts:
    - id: CONTRACT_ID
# Required only if PYHQ_OUTPUT=INFLUXDB
influxdb:
- host: x.domain
  port: 8086
  username: admin
  password: password
  database: hq

